html,body {
    height: 100%;
    width: 100%;
    cursor: default;
}


nav {
    -webkit-box-shadow: 0px 3px 5px 1px rgba(110, 94, 110, 0.699);
            box-shadow: 0px 3px 5px 1px rgba(110, 94, 110, 0.699);
    background: #666b67;
}
nav .navbar-toggler-icon{
    background-image:url("imgs/bars-navbar.png");
}
nav a:hover{
    color: yellow;
    border-bottom: #2874ed inset 3px;
}
nav .active a {
    color: white !important;
    border-bottom: #2874ed inset 3px;
}
nav a {
    text-decoration: none;
    color: white;  
}
nav li {
    height: 45px;
    margin-right: 10px;
    
}
#indexBody {
    background: #d1cece;
}
.quirkArticle1 {
    padding-top: 10px;

}
   
.quirkTypesArticles{
    background: #cdcece38;
    
}

.heroBackground {
    background: #c5c0b4;
}
.indexHeroesBackground {
    background: #d9dbdb;
    padding-top: 15px;
    -webkit-box-shadow: 0px 1px 5px 1px black;
            box-shadow: 0px 1px 5px 1px black;

}
.negrclass {
   
}
.negrClass:hover {
    transform: translateX(400px);
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    
}
.indexVillainsBackground {
    background: #424241;
    padding-top: 15px;
    -webkit-box-shadow: 0px 1px 5px 1px white;
            box-shadow: 0px 1px 5px 1px white;

}
.quirkTypeArticleHeading{
    font-weight: 700;
    font-size: 30px;
}
.quirkAllArticles {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 1px 5px 1px black;
            box-shadow: 0px 1px 5px 1px black;
    background: #cdcece38;
}
.quotes{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}
.heading{
    font-family: 'Merriweather', serif;
    font-size: 70px;
}
.quirkBackground {
    background: #666b67;
    color: white;
}
.indexBackgroundQuote1{
    background: #666b67;
    color: white;
    padding: 10px 0 10px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 2px 6px 0px black;
            box-shadow: 0px 2px 6px 0px black;
    
}
.indexBackgroundQuote2{
    background: #666b67;
    color: white;
    padding: 10px 0 10px 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 2px 6px 0px black;
            box-shadow: 0px 2px 6px 0px black;
    border-right: 1px solid black;
}
.villainBackground {
    background: #252626;
    color: white;
}
#Heroes {
    background: #d9dbdb;
}
.card-title , .card-text{
    color: black;
}
.card {
    margin-bottom: 15px;
}
.card .card-subtitle {
    font-size: 15px;
}
#Villains {
    color: white;
    background: #252626;
}
#carouselIndex{
    background: #2f302f;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.padding {
    padding: 2rem 0 2rem 0;
    
}

#overlayWallpaperHero {
    background: url(imgs/all-might-2560x1440.jpg) no-repeat center fixed;
    background-position-y: 50%;
    position: relative;
    height: 70%;
    width: 100%;
}
#overlayWallpaperQuirk{
    background: url(imgs/wallpaper-quirk-2.png) no-repeat center;
    background-position-y: 0%;
    width: 100%;
    height: 50%;
    position: relative;
    
}
#overlayWallpaperQuirk2{
    background: url(imgs/midoriya-izuku-boku-no-hero-academia-transform.png) no-repeat center fixed;
    position: relative;
    background-position-y: 20%;
    width: 100%;
    height: 30%;
}
#overlayWallpaperVillain {
    background: url(imgs/AllforOne.jpg) no-repeat center fixed;
    background-position-y: 20%;
    position: relative;
    height: 70%;
    width: 100%;
}
.articleText  {
    text-align: justify;
    padding: 0 10px 0 10px;
    font-family: 'Montserrat', sans-serif;
}
footer {
    background: #666b67;
    color: white;
}
footer div a  {
color: white;
margin: 0 10px 0 10px;
}

footer div a:hover {
    text-decoration: none;
    color:black;
}
.facebook {
    font-size: 40px;
}
.facebook:hover {
    color: #2874ed;
}
.instagram {
    font-size: 40px;
}
.instagram:hover {
    color: orange;
}
#copyrightClaimAndIcons {
   height: 70px;
}
#allHeroes{
    display: none;
}
@media (max-width: 600px) { 
    .heading {
        font-size: 40px;
    }
    .quotes {
        font-size: 20px;
    }
 }