html,body {
    height: 100%;
    width: 100%;

}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
div .imgToRight img {
    display: block;
    margin: auto;
}
div .imgToLeft img {
    display: block;
    margin: auto;
}
#overlayWallpaperHero {
    background: url(imgs/all-might-2560x1440.jpg) no-repeat center fixed;
    background-position-y: 50%;
    position: relative;
    height: 70%;
    width: 100%;
}
#overlayWallpaperQuirk{
    background: url(imgs/wallpaper-quirk-2.jpg) no-repeat center;
    background-position-y: 20%;
    width: 100%;
    height: 50%;
    position: relative;
    
}
#overlayWallpaperQuirk2{
    background: url(imgs/deku-quirk.jpg) no-repeat center fixed;
    position: relative;
    background-position-y: 20%;
    width: 100%;
    height: 30%;
}
#overlayWallpaperVillain {
    background: url(imgs/AllforOne.jpg) no-repeat center fixed;
    background-position-y: 20%;
    position: relative;
    height: 70%;
    width: 100%;
}
.articleText {
    text-align: justify;
}


