html,body {
    height: 100%;
    width: 100%;
    top: 0px;
}
nav {
    box-shadow: 0px 5px 5px 1px rgba(110, 94, 110, 0.699);
    background: #666b67;
    
}
nav .active a {
    color: white !important;
    border-bottom: #2874ed inset 3px;
}
nav a {
    text-decoration: none;
    color: white;
    height: 40px;
}
nav .navbar-toggler-icon{
    background-image:url("imgs/bars-navbar.png");
}
nav li a {
    margin-right: 10px;
}
nav a:hover{
    color: yellow;
    border-bottom: #2874ed inset 3px;
}
.indexHeadings{
    font-size: 40px;
    font-family: 'Ultra', serif;
}
.backgroundQuotes{
    background: #666b67;
    color: white;
    padding: 10px 0 10px 0;
    font-family: 'Cinzel', serif;
}
.villainBackground {
    background: #2d2e2e;
    color: white;
}
#carouselIndex{
    background: #2f302f;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.padding {
    padding: 2rem 0 3rem 0;
}
#overlayWallpaperHero {
    background: url(imgs/all-might-2560x1440.jpg) no-repeat center fixed;
    background-position-y: 50%;
    position: relative;
    height: 70%;
    width: 100%;
}
#overlayWallpaperQuirk{
    background: url(imgs/wallpaper-quirk-2.jpg) no-repeat center;
    background-position-y: 20%;
    width: 100%;
    height: 50%;
    position: relative;
    
}
#overlayWallpaperQuirk2{
    background: url(imgs/deku-quirk.jpg) no-repeat center fixed;
    position: relative;
    background-position-y: 20%;
    width: 100%;
    height: 30%;
}
#overlayWallpaperVillain {
    background: url(imgs/AllforOne.jpg) no-repeat center fixed;
    background-position-y: 20%;
    position: relative;
    height: 70%;
    width: 100%;
}
.articleText  {
    text-align: justify;
    padding: 0 1rem 0 1rem;
    font-family: 'Montserrat', sans-serif;
}
footer {
    background: #666b67;
    color: white;
}
footer div a  {
color: white;
margin: 0 10px 0 10px;
}

footer div a:hover {
    text-decoration: none;
    color:black;
}
.facebook {
    font-size: 40px;
}
.facebook:hover {
    color: #2874ed;
}
.instagram {
    font-size: 40px;
}
.instagram:hover {
    color: orange;
}
#copyrightClaimAndIcons {
   height: 70px;
}