html,body {
    height: 100%;
    width: 100%;

}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-control-prev-icon {
    
}

.carousel-control-next-icon {

}
#heroAllWallpaper {
    background: url(imgs/all-might-2560x1440.jpg) no-repeat center fixed;
    background-position-y: 50%;
    position: relative;
    height: 70%;
    width: 100%;
}
.card img {
   
}


